body {
    margin: 0 0;
}

.container {
    width: 450px;
    height: 450px;
    padding: 16px;
    border: 5px solid black;
}

.logo {
    position: relative;
    width: 86px;
    float: left;
    height: 71px;
}

.heading {
    position: relative;
    height: fit-content;
    font-style: oblique;
    margin-left: 20%;
    font-weight: bold;
    font-size: 32px;
    font-family: "Courier New", sans-serif;
    color: #99a3ba;
    width: 100%;
}

.innerContainer {
    position: relative;
    border-radius: 16px;
    height: 315px;
    width: 418px;
    padding: 16px;
    background-color: #99a3ba;
}

/* Text Fields - Starts */
.formInput {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    color: #99a3ba;
    border: 1px solid #cdd9ed;
    background: #fff;
    transition: border 0.3s ease;
}

.formInput::placeholder {
    color: #cbd1dc;
}

.formInput:focus {
    outline: none;
    border-color: #275efe;
}

.formContainer {
    position: relative;
    margin-bottom: 16px;
    display: flex;
    width: 100%;
}

.formContainer > span, .formContainer .formInput {
    white-space: nowrap;
    display: block;
}

.formContainer > span:not(:first-child):not(:last-child), .formContainer .formInput:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.formContainer > span:first-child, .formContainer .formInput:first-child {
    border-radius: 6px 0 0 6px;
}

.formContainer > span:last-child, .formContainer .formInput:last-child {
    border-radius: 0 6px 6px 0;
}

.formContainer > span:not(:first-child), .formContainer .formInput:not(:first-child) {
    margin-left: -1px;
}

.formContainer .formInput {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}

.formContainer > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: #99a3ba;
    background: #eef4ff;
    border: 1px solid #cdd9ed;
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.formContainer:focus-within > span {
    color: #fff;
    background: #678efe;
    border-color: #275efe;
}

/* Text Fields - Ends */

